body{
background-color: #000;
overflow-x: hidden; 
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 100px;
}
.img3{
  height: 200px;

}
button{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #65d6ce;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #1f3c88;
  
}
.a{
  text-align: center;
  
   
  
}
.b{
  
  text-align: center;
  
}

.c{
  
  text-align: center;
  
}

.d{
  
  text-align: center;
  
}

.e{
  
  text-align: center;
  
}
.f{
  
  text-align: center;
  
}
.g{
  
  text-align: center;
  
}
.h{
  
  text-align: center;
  
}
.i{
  
  text-align: center;
  
}
.j{
  
  text-align: center;
  
}





@media (max-width:900px) {
  .b1{
    margin-left: 100px;
    font-size: 0.5rem;
    padding: 5% 15% 5% 5%;
  }
}
